nodejs.txt
[{"id":"4a135cd8.b805b4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"80dc787f.8e79a8","type":"debug","z":"4a135cd8.b805b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":240,"wires":[]},{"id":"73a0f747.b59738","type":"ibmiot in","z":"4a135cd8.b805b4","authentication":"apiKey","apiKey":"adb6fa5b.0642c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":190,"y":240,"wires":[["80dc787f.8e79a8","487dd93b.808058","7f24d054.4dca1"]]},{"id":"487dd93b.808058","type":"function","z":"4a135cd8.b805b4","name":"Temperature","func":"global.set('temparature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":140,"wires":[["80dc787f.8e79a8","e1848dde.403e1"]]},{"id":"7f24d054.4dca1","type":"function","z":"4a135cd8.b805b4","name":"Moisture","func":"global.set('moisture',msg.payload.Moisture)\nmsg.payload=msg.payload.Moisture\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":320,"wires":[["80dc787f.8e79a8","1062cf28.ed64d1"]]},{"id":"e1848dde.403e1","type":"ui_gauge","z":"4a135cd8.b805b4","name":"","group":"267527ab.4d4cf8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":140,"wires":[]},{"id":"1062cf28.ed64d1","type":"ui_gauge","z":"4a135cd8.b805b4","name":"","group":"267527ab.4d4cf8","order":2,"width":0,"height":0,"gtype":"gage","title":"Moisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":320,"wires":[]},{"id":"4366b7e4.cff6b8","type":"ui_button","z":"4a135cd8.b805b4","name":"","group":"267527ab.4d4cf8","order":3,"width":0,"height":0,"passthru":false,"label":"MOTORON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"LIGHTON\"}","payloadType":"json","topic":"","x":190,"y":620,"wires":[["a751e4d.fc02198","384a5f44.2ae578"]]},{"id":"b0bd2405.3b8508","type":"ui_button","z":"4a135cd8.b805b4","name":"","group":"267527ab.4d4cf8","order":4,"width":0,"height":0,"passthru":false,"label":"MOTOROFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"LIGHTOFF\"}","payloadType":"json","topic":"","x":190,"y":720,"wires":[["a751e4d.fc02198","384a5f44.2ae578"]]},{"id":"a751e4d.fc02198","type":"ibmiot out","z":"4a135cd8.b805b4","authentication":"apiKey","apiKey":"adb6fa5b.0642c","outputType":"cmd","deviceId":"123456","deviceType":"raspberrypi","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":680,"y":620,"wires":[]},{"id":"79010d90.d71474","type":"http in","z":"4a135cd8.b805b4","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":190,"y":420,"wires":[["808e7b5d.5bed58"]]},{"id":"12c802c5.7ee515","type":"http response","z":"4a135cd8.b805b4","name":"","statusCode":"","headers":{},"x":730,"y":420,"wires":[]},{"id":"808e7b5d.5bed58","type":"function","z":"4a135cd8.b805b4","name":"data","func":"msg.payload={\n'temperature':global.get(\"temparature\"),\n'moisture':global.get(\"moisture\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":420,"wires":[["12c802c5.7ee515"]]},{"id":"384a5f44.2ae578","type":"debug","z":"4a135cd8.b805b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":720,"wires":[]},{"id":"1427dda2.09fe6a","type":"http in","z":"4a135cd8.b805b4","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":200,"y":500,"wires":[["60244325.531954"]]},{"id":"9bd34c95.145ca","type":"http response","z":"4a135cd8.b805b4","name":"","statusCode":"","headers":{},"x":730,"y":500,"wires":[]},{"id":"60244325.531954","type":"function","z":"4a135cd8.b805b4","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":500,"wires":[["9bd34c95.145ca","e4897031.7e80f8","a751e4d.fc02198"]]},{"id":"e4897031.7e80f8","type":"debug","z":"4a135cd8.b805b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":460,"wires":[]},{"id":"adb6fa5b.0642c","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"267527ab.4d4cf8","type":"ui_group","z":"","name":"Default","tab":"195db4a.aabda4b","order":1,"disp":true,"width":"6","collapse":false},{"id":"195db4a.aabda4b","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]